.count-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.count-wrapper {
    display: flex;
    gap: 10px;
}

.count-wrapper button {
    padding: 4px 10px;
    cursor: pointer;
}